
  // Babas Neue font directory
@BabasNeuePath: "../../fonts/BabasNeue";

@font-face {
  font-family: "Babas Neue";
  src: url("@{font-directory}/BabasNeue/BebasNeue-Regular.eot");
  src: url("@{font-directory}/BabasNeue/BebasNeue-Regular.woff2") format("woff2"),
		url("@{font-directory}/BabasNeue/BebasNeue-Regular.woff") format("woff"),
		url("@{font-directory}/BabasNeue/BebasNeue-Regular.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

h1, h2 {
	color: @brand-primary;
}