@media screen and (min-width: 78.75em) {
	.account--content {
		margin: 30px 0px 0px 0px;
	}
	
	.account--profile {
		padding-top: 30px;
	}
}

.account--menu {
	background: #fff;
}

.account--welcome {
    border: 1px solid @border-color;
    padding: 0 20px;
    background: #fff;
}

.account--address.account--content, .address-manager--modal.account--content {
    padding-top: 30px;
}

.account--address .account--welcome, .address-manager--modal .account--welcome {
    margin-bottom: 20px;
}

.note--overview {
    background: #fff;
}