@media screen and (min-width: @desktopViewportWidth) {
	.blog--detail {
		margin-top: 30px;
	}
}

@media screen and (min-width: @tabletViewportWidth) {
	.blog--content {
		margin-top: 30px;
	}
}

.blog--filter, .blog--subscribe {
	background: #fff;
}

.blog--detail {
    border: 1px solid @border-color;
    padding: 20px 20px 0 20px;
}