.content--breadcrumb {
    background: #fff;
    border: 1px solid #dadae5;
    margin: 0 10px;
    width: calc(~"100% - 20px");
}

@media screen and (min-width: @desktopViewportWidth) {
	.content--breadcrumb {
		padding: 0;
	}
}

@media screen and (min-width: @tabletViewportWidth) {
	.content--breadcrumb {
		padding: 0;
	}
}