@media screen and (min-width: @desktopViewportWidth) {
	.custom-page--content {
		margin-top: 30px;
	}
}

.custom-page--content {
    background: #fff;
    border: 1px solid @border-color;
    padding: 10px 20px 0 20px;
}