.is--ctl-detail .content-main--inner {
    background: transparent;
}

.tab--container {
	background: #fff;
}

.tab-menu--cross-selling .tab--container {
	background: #fff;
	border-radius: 0;
}

header.product--header {
    border: 1px solid @border-color;
    background: #fff;
    margin-top: 15px;
	padding-left: 10px !important;
    padding-right: 10px !important;
    border-bottom: 0;
}

.product--detail-upper.block-group {
    border: 1px solid @border-color;
    background: #fff;
    margin-bottom: 15px;
    border-top: 0;
	padding-left: 10px;
	padding-right: 10px;
}

@media screen and (min-width: @tabletViewportWidth) {
	header.product--header {
		padding-left: 30px !important;
		padding-right: 30px !important;
	}

	.product--detail-upper.block-group {
		padding-left: 30px;
		padding-right: 30px;
	}	
}