.footer-main {
	background: #262626;
	overflow: hidden;
}

.footer-main .container {
    background: #262626;
	color: #fff;
	position: relative;
	
	.column--headline {
		color: #e1e1e1;
	    font-family: "Babas Neue", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		font-size: 26px;
	}
	
	.navigation--link {
		color: #a5b3c0;
	}
	
	a {
		color: #a5b3c0;
	}
}

.footer--column.column--newsletter.is--last.block {
    display: none;
}

@media screen and (min-width: @tabletViewportWidth) {
	.footer--column.column--newsletter {
		display: block;
		position: relative;
		overflow: hidden;
		
		&::before {
			content: " ";
			position: absolute;
			left: 0;
			top: 0;
			z-index: 1;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 661px 0 0 200px;
			border-color: transparent transparent transparent #262626;
		}
	}
	
	.footer--columns.block-group {
		position: relative;
	}
	
	.footer--column.column--newsletter img {
		height: 100%;
		max-width: 2000%;
		margin: 0 auto;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
	
	
	.footer--column.column--hotline, .footer--column.column--menu {
		float: none;
		display: inline-block;
		width: 50%;
	}
	
	.footer--column.column--newsletter.is--last.block {
		display: block;
		position: absolute;
		overflow: hidden;
		float: right;
		right: 0;
		top: 0;
		width: 50%;
		height: 100%;
	}
}

@media screen and (min-width: @tabletViewportWidth) {
	.footer--column.column--newsletter.is--last.block {
		left: 50%;
		top: 0;
		width: 50vw;
	}
}
