.content-main {
	background: transparent;
	box-shadow: none;
}

body:not(.is--minimal-header) section.content-main.container.block-group {
    margin-top: 83px;
}

@media screen and (min-width: @desktopViewportWidth) {
	.content-main--inner {
		padding: 0;
	}
	
	.content-main.is--fullscreen {
		margin-top: 0;
	}
}

@media screen and (min-width: @tabletViewportWidth) {
	.content-main--inner {
		padding: 0 10px 20px 10px;
	}
	
	body:not(.is--minimal-header) section.content-main.container.block-group {
		margin-top: 123px;
		&.is--fullscreen {
			margin-top: 63px;
		}
	}
}