.shop--navigation .entry--link, .shop--navigation .btn {
    border-color: @brand-primary;
    color: @brand-primary;
    background: #fff;
	&:hover {
		color: #fff;
		background: @brand-primary;
	}
}

.shop--navigation .entry--menu-left .btn {
	padding-left: 58px;
}

body:not(.is--minimal-header) .header-main .logo-main .logo--shop {
    margin: 0 auto;
    float: none;
    height: 63px;
    width: 100%;
	.logo--link {
		display: block;
		height: 63px !important;
	}
	
	img {
		margin: 0 auto;
		height: 100%;
	}
}

body:not(.is--minimal-header) .logo-main {
    width: 63px;
    padding: 0 !important;
    height: 63px;
}

body:not(.is--minimal-header) .shop--navigation {
    position: absolute;
    width: calc(~"100% - 50px");
    left: 50px;
    top: 12px;
}

body:not(.is--minimal-header) header.header-main {
    padding: 0;
	box-shadow: 0 0.33333rem 1rem rgba(0,0,0,0.1);
    border-bottom: 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
	z-index: 1002;
}

.entry--search.is--active .main-search--form {
    width: 100vw;
    left: -50px;
	top: 51px;
}

.header-main.is--active-searchfield {
    padding-bottom: 60px;
}

.shop--navigation .navigation--list {
	height: 40px;
}

@media screen and (min-width: @phoneLandscapeViewportWidth) {
	.entry--search .main-search--form .main-search--button {
		background: @brand-primary;
		color: #fff;
	}
}

@media screen and (min-width: @tabletViewportWidth) {

	.shop--navigation .navigation--entry {
		vertical-align: top;
	}
	
	body:not(.is--minimal-header) header.header-main {
		box-shadow: none !important;
	}
	
	body:not(.is--minimal-header) .content-main {
		margin-top: 125px;
	}
	
	body:not(.is--minimal-header) .container.header--navigation {
		display: table;
		width: 100%;
	}

	body:not(.is--minimal-header) .logo-main, .shop--navigation {
		vertical-align: middle;
		display: table-cell;
		float: none;
	}
	
	body:not(.is--minimal-header) .header-main .logo-main .logo--shop {
		height: 63px;
		.logo--link {
			height: 63px !important;
		}
	}
	
	.navigation--entry.entry--search {
		position: relative;
		margin-right: 5px;
		left: inherit;
	}
	
	.shop--navigation .entry--search {
		width: 200px !important;
		height: 40px;
	}
	
	body:not(.is--minimal-header) .header-main .logo-main {
		width: 63px !important;
		padding: 0 !important;
	}
	
	body:not(.is--minimal-header) .header-main .logo-main .logo--shop {
		width: 100%;
	}
	
	.navigation-main {
		border: 0;
		position: fixed;
		top: 63px;
		width: 100vw;
		z-index: 1001;
		background: @brand-primary;
		box-shadow: 0 0.33333rem 1rem rgba(0, 0, 0, 0.1);
		
		.navigation--link {
			color: #fff;
			font-weight: 300;
		}
		
		.is--active .navigation--link {
			background: transparent;
			font-weight: 700;
			color: #fff;
		}
		.navigation--link:hover {
				color: #fff;
				background: @brand-secondary-dark;
			}
	}
	
	body:not(.is--minimal-header) .header-main .header--navigation {
		padding: 0;
	}
	
	body:not(.is--minimal-header) .logo-main.block-group::before {
		content: " ";
		background: #00468d;
		position: absolute;
		width: calc(~"(100vw - 1240px) / 2");
		height: 63px;
		left: calc(~"(100vw - 1262px) / 2 * (-1)");
	}
	
	body:not(.is--minimal-header) .navigation-main .navigation--list {
		height: 100%;
		padding: 0;
		background: @brand-primary;
		.navigation--entry {
			height: 100%;
			.navigation--link {
				height: 100%;
				line-height: 40px;
				padding: 0 12px !important;
			}
		}
	}
	
	.advanced-menu {
		position: fixed;
		top: 103px;
	}

}

@media screen and (min-width: @tabletLandscapeViewportWidth) {
	.navigation--list .entry--cart .cart--link {
		background: @brand-primary;
		color: #fff;
		border: 1px solid @brand-primary;
		&:hover {
			background: #fff;
			color: @brand-primary;
			.cart--amount {
				color: @brand-primary;
			}
		}
	}
	
	.navigation--list .entry--cart .cart--link .cart--amount {
		color: #fff;
	}
		
	.header-main .shop--navigation {
		margin: 5px 0;
	}
	
	.header-main .shop--navigation {
		width: calc(~"100% - 68px");
		margin: 0 !important;
	}
}

@media screen and (min-width: @desktopViewportWidth) {
	
	.navigation-main .navigation--list {
		height: 100%;
		padding: 0;
		.navigation--entry {
			height: 100%;
			.navigation--link {
				height: 100%;
				line-height: 40px !important;
				padding: 0 12px !important;
			}
		}
	}
	
	body .header-main .shop--navigation {
		width: calc(~"1260px - 63px") !important;
		left: unset;
		right: 10px;
		top: 11px;
	}
	
	.advanced-menu {
		top: 103px;
	}
	
	body:not(.is--minimal-header) .header-main .logo-main .logo--shop {
		margin-left: 10px;
	}

}