@media screen and (min-width: @tabletViewportWidth) {
	.category--teaser .hero--headline {
		padding: 20px 0px 0px 0px;
		margin: 0px 20px 0px 20px;
	}
}

@media screen and (min-width: @desktopViewportWidth) {
	.listing--content {
		padding-top: 30px;
	}
}