@media screen and (min-width: @tabletViewportWidth) {
	.navigation-main {
		.navigation--link {
            .border-radius-multi(0, 0, 0, 0);
			.unitize-padding(8, 14);
            .unitize(font-size, 15);
		}
	}
}