@media screen and (min-width: @desktopViewportWidth) {
	.newsletter--content {
		margin-top: 30px;
	}
}

@media screen and (min-width: @tabletViewportWidth) {
	.newsletter--content .select-field {
		margin-bottom: 5px;
		max-width: 100%;
	}
}

.newsletter--headline {
    background: #fff;
}