{extends file="parent:frontend/index/footer-navigation.tpl"}
{block name="frontend_index_footer_column_newsletter"}
    <div class="footer--column column--newsletter is--last block">
        <img src="themes/Frontend/GEDShopTheme/frontend/_public/src/img/banner/footer-bg.jpg" title="Schließsysteme von GED" alt="GED Shop Footer Banner" class="">
    </div>
{/block}
