.btn {
	background: @btn-default-bottom-bg;
	.border-radius(0);
}

.is--primary {
	background: @btn-primary-bottom-bg;
	border: 1px solid @btn-primary-bottom-bg;
	&:hover {
		background: #fff;
		color: @btn-primary-bottom-bg;
	}
}

.is--secondary {
	background: @btn-secondary-top-bg;
}

.shop--navigation i.icon--menu {
    border: 1px solid @brand-primary;
    color: @brand-primary;
    height: 40px !important;
    width: 40px;
    top: calc(~"50% - 4px") !important;
    padding: 2px;
}

.shop--navigation .entry--menu-left .btn {
	&:hover {
		background: #fff;
		color: @text-color;
	}
}