@font-face {
  font-family: "theme_icons";
  src: url("@{font-directory}/theme_icons.eot");
  src: url("@{font-directory}/theme_icons.eot?#iefix") format("embedded-opentype"),
       url("@{font-directory}/theme_icons.woff") format("woff"),
       url("@{font-directory}/theme_icons.ttf") format("truetype"),
       url("@{font-directory}/theme_icons.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "theme_icons";
    src: url("@{font-directory}/theme_icons.svg#Flaticon") format("svg");
  }
}

.icon--search:before {
	font-family: "theme_icons"; /* changes */
    content: "\f100"; /* changes */
}
.icon--menu:before {
	font-family: "theme_icons"; /* changes */
    content: "\f104"; /* changes */
}
.icon--heart:before {
	font-family: "theme_icons"; /* changes */
    content: "\f102"; /* changes */
}
.icon--basket:before {
	font-family: "theme_icons"; /* changes */
    content: "\f103"; /* changes */
}
.icon--account:before {
	font-family: "theme_icons"; /* changes */
    content: "\f101"; /* changes */
}