.last-seen-products {
    background: #fff;
    border: 1px solid @border-color;
}

.last-seen-products--title {
    padding: 20px 0px 10px 0px !important;
    margin: 0px 20px 0px 20px;
	color: #00468e;
    font-family: "Babas Neue", "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 26px !important;
    border-bottom: none !important;
}