.js--overlay.is--closable {
	width: 100%;
	&.is--cart-opend {
		width: calc(~"100% - 280px");
	}
}
	
@media screen and (min-width: @tabletViewportWidth) {
	.js--overlay.is--closable {
		transition: .4s ease width;
		&.is--open {
			width: calc(~"100% - 280px");
		}
	}
}