.product-slider--arrow.arrow--next {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
	right: -1px;
}

.product-slider--arrow.arrow--prev {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
	left: -1px;
}